---
import BaseLayout from "../layouts/base.astro";
import ContactDetails from "../components/contact-details.astro";
---

<style>
  .gradient {
    background-color: hsla(0, 0%, 100%, 1);
    background-image: radial-gradient(
        at 10% 14%,
        hsla(30, 82%, 55%, 0.47) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 28% 81%,
        hsla(201, 47%, 34%, 0.52) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 80% 77%,
        hsla(17, 74%, 52%, 0.56) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 84% 22%,
        hsla(195, 26%, 52%, 0.35) 0px,
        transparent 50%
      );
  }
</style>
<BaseLayout staticHeader={true}>
  <div class="gradient h-lvh w-full pt-20">
    <ContactDetails />
  </div>
</BaseLayout>
