---

---

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <div class="grid gap-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/public/gallery/ASPR_001_BW.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/public/gallery/ASPR_003_BW.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/public/gallery/ASPR_006_BW.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/public/gallery/ASPR_009_BW.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/public/gallery/ASPR_010_BW.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/public/gallery/ASPR_013_BW.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/public/gallery/ASPR_020_BW.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/public/gallery/ASPR_023_BW.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="/public/gallery/ASPR_024_BW.jpg"
        alt=""
      />
    </div>
  </div>
</div>
