---

---

<div
  class="flex flex-col gap-2 justify-center bg-primaryDark p-4 rounded-md text-white max-w-lg"
>
  <div class="w-full flex justify-center">
    <h3>MANAGEMENT & LICENSING</h3>
  </div>
  <hr
    class="h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-50 dark:via-neutral-400"
  />
  <div class="grid grid-cols-2 md:grid-cols-2 gap-2">
    <div class="grid gap-4">Laurence Aston,</div>
    <div class="grid gap-4">+44 (0)118 931 2580</div>
    <div class="grid gap-4">First Name Music</div>
    <div class="grid gap-4">laurence@laurenceaston.com</div>
  </div>
  <div class="w-full flex justify-center">
    <h3>THEATRICAL AGENT</h3>
  </div>
  <hr
    class="h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-50 dark:via-neutral-400"
  />
  <div class="grid grid-cols-2 md:grid-cols-2 gap-2">
    <div class="grid gap-4">Charles Walker,</div>
    <div class="grid gap-4">+44 (0)20 3214 0800</div>
    <div class="grid gap-4">United Agents</div>
    <div class="grid gap-4">cwalker@unitedagents.co.uk</div>
  </div>
</div>
