---
import NavButton from "./nav-button.astro";
---

<div class="flex flex-row gap-4 items-center p-2 pr-5">
  <NavButton href="./about" title="ABOUT" />
  <NavButton href="./recordings" title="RECORDINGS" />
  <NavButton href="./works" title="WORKS" />
  <NavButton href="./media" title="MEDIA" />
  <NavButton href="./contact" title="CONTACT" />
</div>
