---
import { Image } from 'astro:assets';
import ViolinConcertoImage from '../images/violin-concerto.jpg';
import Rating from 'fulldev-ui/components/Rating.astro'
---
<style>
    .splash {
        background-size: 100% 100%;
        background-position: 0px 0px,0px 0px;
        background-image: radial-gradient(10% 10% at 70% 50%, #EEAB2BFF 0%, #073AFF00 59%),conic-gradient(from 54deg at 70% 50%, #EDC579 0%, #2E6280 11%, #EEAB2B 76%, #EDC579 96%);
    }

    .perspective {
        transform: perspective(200px) rotate3d(1, -1, 0, 2deg);
    }
</style>
<div class="splash h-lvh flex items-center justify-around gap-4 w-full place-content-between p-10 drop-shadow-2xl">
    <div class="flex-grow max-w-lg flex flex-col gap-4">
        <div class="w-full text-white">
            <small>
                18th Feburary 2024
            </small>
            <h1>
                VIOLIN CONCERTO
            </h1>
            <p>
                In January, the BBC Philharmonic Orchestra recorded Adrian's major orchestral works, including the recently-premiered Violin Concerto, Short Story, A Fist Full Of Fives, War Horse Suite and 5 Theatre Miniatures, for release on the Chandos label in October 2024.
            </p>
            
        </div>
        <div class="flex flex-row gap-3 flex-wrap text-white">
            <div class="flex flex-col">
                <Rating size="lg" score={5} />
                <small>
                    The Guardian
                </small>
            </div>
            <div class="flex flex-col">
                <Rating size="lg" score={5} />
                <small>
                    The Guardian
                </small>
            </div>
            <div class="flex flex-col">
                <Rating size="lg" score={5} />
                <small>
                    The Guardian
                </small>
            </div>
            <div class="flex flex-col">
                <Rating size="lg" score={4} />
                <small>
                    The Guardian
                </small>
            </div>
            <div class="flex flex-col">
                <Rating size="lg" score={4.5} />
                <small>
                    The Guardian
                </small>
            </div>
            <div class="flex flex-col">
                <Rating size="lg" score={4} />
                <small>
                    The Guardian
                </small>
            </div>
        </div>
    </div>
    <div class="w-1/2 max-w-md relative">
        <svg width="50" height="79" viewBox="0 0 69 79" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute top-1/2 -left-9">
            <path opacity="0.5" d="M23.0653 28.2888L47.0742 78.2908L47.0092 35.9982L23.0653 28.2888Z" fill="url(#paint0_linear_205_281)"/>
            <path opacity="0.5" d="M31.8786 7.49791L5.12806 19.1056L47.5453 32.0923L31.8786 7.49791Z" fill="url(#paint1_linear_205_281)"/>
            <defs>
            <linearGradient id="paint0_linear_205_281" x1="49.4462" y1="38.3421" x2="28.3472" y2="60.2794" gradientUnits="userSpaceOnUse">
            <stop stop-color="#BC0F1E"/>
            <stop offset="1" stop-color="#56070E"/>
            </linearGradient>
            <linearGradient id="paint1_linear_205_281" x1="31.8786" y1="7.49791" x2="24.4894" y2="31.6326" gradientUnits="userSpaceOnUse">
            <stop stop-color="#EEAB2B"/>
            <stop offset="1" stop-color="#886219"/>
            </linearGradient>
            </defs>
        </svg>
        <Image src={ViolinConcertoImage} alt="A bird sitting on a nest of eggs." class="object-cover perspective drop-shadow-2xl"/>
        <svg width="50" height="84" viewBox="0 0 73 84" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute top-1/3 -right-12">
            <path opacity="0.5" d="M48.1455 30.1939L22.5197 83.5632L22.5891 38.4225L48.1455 30.1939Z" fill="url(#paint0_linear_205_288)"/>
            <path opacity="0.5" d="M38.7384 8.0028L67.2904 20.3921L22.0167 34.2534L38.7384 8.0028Z" fill="url(#paint1_linear_205_288)"/>
            <defs>
            <linearGradient id="paint0_linear_205_288" x1="19.9879" y1="40.9243" x2="42.5078" y2="64.3389" gradientUnits="userSpaceOnUse">
            <stop stop-color="#BC0F1E"/>
            <stop offset="1" stop-color="#56070E"/>
            </linearGradient>
            <linearGradient id="paint1_linear_205_288" x1="38.7384" y1="8.0028" x2="46.6252" y2="33.7628" gradientUnits="userSpaceOnUse">
            <stop stop-color="#EEAB2B"/>
            <stop offset="1" stop-color="#886219"/>
            </linearGradient>
            </defs>
        </svg>
    </div>
</div>