---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";

const { staticHeader } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/fav-logo-white.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Adrian Sutton</title>
    <base href={import.meta.env.BASE_URL} />
  </head>
  <body>
    <Header staticHeader={staticHeader} />
    <slot />
    <Footer />
  </body>
</html>
